*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#fbfbfb ;
}
.navbar {
    background-color:#BDF2E4;
}

.texto-navbar{
    color: #240F14;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

.bg-placeholder {
    background-color: #fbfbfb;
}

.navbar a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.buscador {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

/* Sección inicial */
.principal {
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    color: #240F14;
    font-size: 70px;
    text-align: center;
}


#container1 h1, h4{
    font-family: 'Dancing Script', cursive;
}

#container2 h1{
    font-family: 'Dancing Script', cursive;
}

#container3 h1{
    font-family: 'Dancing Script', cursive;
}

.bg-propio {
    background-color: #BDF2E4;
}

/* MEDIA QUERY  */
@media(max-width:320px) {   
    .col {
        text-align: center;
    }
    .btn {
        font-size: 13px;
    }
}